<table border="1">
  <tr>
    <td><%= mapped[:wa].character + " " + mapped[:wa].roumaji %></td>
    <td><%= mapped[:ra].character + " " + mapped[:ra].roumaji %></td>
    <td><%= mapped[:ya].character + " " + mapped[:ya].roumaji %></td>
    <td><%= mapped[:ma].character + " " + mapped[:ma].roumaji %></td>
    <td><%= mapped[:ha].character + " " + mapped[:ha].roumaji %></td>
    <td><%= mapped[:na].character + " " + mapped[:na].roumaji %></td>
    <td><%= mapped[:ta].character + " " + mapped[:ta].roumaji %></td>
    <td><%= mapped[:sa].character + " " + mapped[:sa].roumaji %></td>
    <td><%= mapped[:ka].character + " " + mapped[:ka].roumaji %></td>
    <td><%= mapped[:a].character + " " + mapped[:a].roumaji %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= mapped[:ri].character + " " + mapped[:ri].roumaji %></td>
    <td></td>
    <td><%= mapped[:mi].character + " " + mapped[:mi].roumaji %></td>
    <td><%= mapped[:hi].character + " " + mapped[:hi].roumaji %></td>
    <td><%= mapped[:ni].character + " " + mapped[:ni].roumaji %></td>
    <td><%= mapped[:chi].character + " " + mapped[:chi].roumaji %></td>
    <td><%= mapped[:shi].character + " " + mapped[:shi].roumaji %></td>
    <td><%= mapped[:ki].character + " " + mapped[:ki].roumaji %></td>
    <td><%= mapped[:i].character + " " + mapped[:i].roumaji %></td>
  </tr>
  <tr>
    <td><%= mapped[:wo].character + " " + mapped[:wo].roumaji %></td>
    <td><%= mapped[:ru].character + " " + mapped[:ru].roumaji %></td>
    <td><%= mapped[:yu].character + " " + mapped[:yu].roumaji %></td>
    <td><%= mapped[:mu].character + " " + mapped[:ma].roumaji %></td>
    <td><%= mapped[:fu].character + " " + mapped[:fu].roumaji %></td>
    <td><%= mapped[:nu].character + " " + mapped[:nu].roumaji %></td>
    <td><%= mapped[:tsu].character + " " + mapped[:tsu].roumaji %></td>
    <td><%= mapped[:su].character + " " + mapped[:su].roumaji %></td>
    <td><%= mapped[:ku].character + " " + mapped[:ku].roumaji %></td>
    <td><%= mapped[:u].character + " " + mapped[:u].roumaji %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= mapped[:re].character + " " + mapped[:re].roumaji %></td>
    <td></td>
    <td><%= mapped[:me].character + " " + mapped[:me].roumaji %></td>
    <td><%= mapped[:he].character + " " + mapped[:he].roumaji %></td>
    <td><%= mapped[:ne].character + " " + mapped[:ne].roumaji %></td>
    <td><%= mapped[:te].character + " " + mapped[:te].roumaji %></td>
    <td><%= mapped[:se].character + " " + mapped[:se].roumaji %></td>
    <td><%= mapped[:e].character + " " + mapped[:e].roumaji %></td>
    <td><%= mapped[:ke].character + " " + mapped[:ke].roumaji %></td>
  </tr>
  <tr>
    <td><%= mapped[:n].character + " " + mapped[:n].roumaji %></td>
    <td><%= mapped[:ro].character + " " + mapped[:ro].roumaji %></td>
    <td><%= mapped[:yo].character + " " + mapped[:yo].roumaji %></td>
    <td><%= mapped[:mo].character + " " + mapped[:mo].roumaji %></td>
    <td><%= mapped[:ho].character + " " + mapped[:ho].roumaji %></td>
    <td><%= mapped[:no].character + " " + mapped[:no].roumaji %></td>
    <td><%= mapped[:to].character + " " + mapped[:to].roumaji %></td>
    <td><%= mapped[:so].character + " " + mapped[:so].roumaji %></td>
    <td><%= mapped[:ko].character + " " + mapped[:ko].roumaji %></td>
    <td><%= mapped[:o].character + " " + mapped[:o].roumaji %></td>
  </tr>
</table>
